.navbar-or {
  background-color: rgba(25, 25, 25, 0.31)!important;
}

.jumbotron {
  margin-top: -4rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-image: url('/static/img/max-stolbinsky-36174159450.jpg');
  background-position: center top;
  background-size: cover;
  color: #fff;
  border-radius: 0;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p.lead {
  color: #fff;
  text-shadow: #424242 0px 3px 5px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  color: #fff;
  text-shadow: #424242 0px 3px 5px;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}