<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Offene Register: Daten des Handelsregisters zum Download">
    <meta name="author" content="Open Knowledge Foundation Deutschland">
    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/css/styles.css" rel="stylesheet">


<!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="OffeneRegister.de">



<!-- Twitter Card data -->

<meta name="twitter:site" content="@okfde">
<meta name="twitter:title" content="Licht ins Dunkel der Firmengeflechte: OffeneRegister.de">

<meta name="twitter:creator" content="@okfde">


  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" content="https://offeneregister.de/static/img/offeneregister.jpg">




<!-- Open Graph data -->
<meta property="og:title" content="Licht ins Dunkel der Firmengeflechte: OffeneRegister.de" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://offeneregister.de/" />


  <meta property="og:image" content="https://offeneregister.de/static/img/offeneregister.jpg" />



  <meta property="og:description" content="Die Daten aus dem Handelsregister sind zentral für das Vertrauen nicht nur in das Handelssystem, sondern auch in die Demokratie. Trotzdem sind sie von staatlicher Stelle nicht frei zugänglich." />

<meta property="og:site_name" content="OffeneRegister.de" />


  </head>
  <body>
    <header>
  <div class="navbar navbar-dark navbar-or shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        🏢 OffeneRegister.de
      </a>
    </div>
  </div>
</header>

<main role="main">
  {{ content }}
</main>

<footer class="text-muted pt-5">
  <div class="container">
    <p class="float-right">
      <a href="#">zurück nach oben</a>
    </p>
    <p>
    OffeneRegister.de ist ein Projekt des <a href="https://okfn.de/">Open Knowledge Foundation Deutschland e.V.</a>
    mit Daten von <a href="https://opencorporates.com/" target="_blank" rel="noopener">OpenCorporates</a> – <a href="https://okfn.de/impressum/">Impressum</a>
    </p>
    <p>
      <small class="text-muted">
        Foto: <a href="https://www.flickr.com/photos/max-stolbinsky/36174159450/">Hamburg. Speicherstadt</a> von <a href="https://www.flickr.com/photos/max-stolbinsky/">Max Stolbinsky</a> under <a href="https://creativecommons.org/licenses/by/2.0/">CC By 2.0</a>
      </small>
    </p>
  </div>
</footer>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
